@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <h2 class="text-center">About us</h2>
    <br />
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Project</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">This website allows users to visualize and export launch plan data in .xlsx and .pdf format from the official SpaceX REST API</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Contributors</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">Thanks to the following people who have contributed to this project: Toma Bonev</td>
            </tr>
        </tbody>
    </table>
</body>