@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<body style="background-image: url('../images/errorImage.jpg'); ">
    <br />
    <br />
    <div class="text-center">
        <h1>SpaceX is out of space...</h1>
        <br />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-dark" asp-controller="Home">Go back to Earth</a>
    </div>
</body>
