@{
    ViewData["Title"] = "SpaceX";
}

<div class="card mb-3">
    <h3 class="card-header">Welcome to SpaceX Launching center</h3>
    <img alt="Download SpaceX launching plans:" src="https://spacenews.com/wp-content/uploads/2020/10/demo2-launch-879x485.jpg">
    <div class="card-body">
        <h5 class="card-title">Download SpaceX launching plans</h5>
        <p class="card-text">Please select a format:</p>
        <a asp-action="GetAll" class="btn btn-default" asp-controller="Launch">in Excel</a>
        <a asp-action="GetAll" class="btn btn-default" asp-controller="Launch">in PDF</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
