@{
    ViewData["Title"] = "SpaceX";
}

<br />
<br />
<div class="container">
    <h1>Dive deep into the SpaceX launch plans...</h1>
    <br />
    <br />
    <h4>Download data to:</h4>
    <div style="text-align: center">
        @*<button ID="btnSubmit" asp-controller="Launch" asp-action="GetAll">Excel</button>
        <button ID="btnSubmit" asp-controller="Launch" asp-action="GetAll">PDF</button>*@
        <a asp-action="GetAll" class="btn btn-default" asp-controller="Launch">in Excel</a>
        <a asp-action="LaunchDataSpaceX" class="btn btn-default" asp-controller="Launch">in PDF</a>
    </div>
</div>

<div>
    <img id="rocket" class="bottomleft" src="~/images/rocket_image.gif" />
</div>
