@{
    ViewData["Title"] = "SpaceX";
}

<body style="background-image: url('../images/background.jpg'); ">
    <br />
    <br />
    <br />
    <br />
    <div>
        <h1 style="text-align:left">For detailed information explore the Launches...</h1>
        <br />
        <br />
    </div>
</body>