@{
    ViewData["Title"] = "Home Page";
}

<h2 style="color:black">Welcome to SpaceX launching center </h2>
<hr />

<div>
    <b>Download SpaceX launching plans: </b>
    &nbsp;
    <a asp-controller="Launch" asp-action="GetAll" class="btn btn-default">All Launches</a>
    &nbsp;
</div>
