/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important
}

#rocket {
    left: auto;
    left: 0;
    width: 42%;
    height: auto;
}

#error {
    left: auto;
    left: 0;
    width: 60%;
    height: auto;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

a {
    margin-left: 5px !important;
    background-color: #f2c73a !important;
    border-radius: 8px !important;
    border: 2px solid #f2c73a !important;
    color: #37474f !important;
    padding: 14px 40px !important;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    color: #37474f
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #37474f
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
